<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.permissionflow">

    <application>
        <activity android:name=".ui.PermissionFixActivity"
                  android:exported="false"/>

        <service android:name=".PermissionPortalService"
                 android:exported="true">
            <intent-filter>
                <action android:name="com.example.permissionflow.BIND_PERMISSION_PORTAL"/>
            </intent-filter>
        </service>
    </application>
</manifest>
